<div class="small-card-container">
  <div class="small-card-container-content">

    <div class="small-card-photo">
      <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdgN8_PnXfExBNvFX1mM6ZTT5DM3GTCnS6fjNdo2hi2pr0B41SqoMnvpnPkdJ93HwNhTQ&usqp=CAU"
      alt=""
      srcset="">
    </div>


      <div class="small-card-title">
        <h1> <a href="#">Nova versão do angular foi Lançada</a></h1>
     </div>

  </div>
  <div class="small-card-container-separator">
    <hr />
  </div>
</div>
